---
import { getCollection } from "astro:content";
import { Section, TitleSection, CardProject } from "../../components/ui";

const projects = await getCollection('projects')
---
<Section id="projects" className="mb-14 md:mb-20">
  <TitleSection
    className="mb-6"
    title="Proyectos"
  />
  <p class="text-md text-muted mb-8 font-light text-center  max-w-md mx-auto leading-relaxed">
    Una colección de proyectos que muestran mis habilidades en el desarrollo full-stack, desde el concepto hasta la implementación.
  </p>
</Section>
<Section className="grid grid-cols-1 md:grid-cols-2 items-center gap-6 justify-center">
  {
    projects.map(project => {
      const { data, slug } = project
      const { description, technologies, title, githubUrl, featured, image, demoUrl } = data
      return (
        <section class={featured ? "md:col-span-2" : "col-span-1"}>
          <CardProject
            title={title}
            description={description}
            image={image}
            githubUrl={githubUrl}
            demoUrl={demoUrl}
            technologies={technologies}
            slug={slug}
            featured={featured}
          />
        </section>
      )
    })
  }
</Section>