---
import { getCollection } from "astro:content";
import { Section, TitleSection, CardProject } from "../../components/ui";
import { useTranslations } from "src/i18n/utils";
import { languages } from "src/i18n/ui";
const currentLang = Astro.currentLocale
const t = useTranslations(currentLang as keyof typeof languages)
const projects = await getCollection('projects')
// const projectsEn = await getCollection('projects', (entry) => entry.data.lang === 'en')
// const projectsEs = await getCollection('projects', (entry) => entry.data.lang === 'es')
---
<Section id="projects" className="mb-14 md:mb-20">
  <TitleSection
    title={t('projects.title')}
  />
  <p class="text-lg text-text-secondary max-w-2xl mx-auto mb-8 text-center">
    {t('projects.description')}
  </p>
  <div class="w-24 h-px bg-gray-300 dark:bg-gray-700 mx-auto"></div>
</Section>
<Section className="grid grid-cols-1 md:grid-cols-2 items-center gap-6 justify-center">
  {
    projects.map(project => {
      const { data, slug } = project
      const { description, technologies, title, githubUrl, date, image, demoUrl } = data
      return (
        <section class="grid h-auto max-w-full">
          <CardProject
            title={title}
            description={description}
            image={image}
            githubUrl={githubUrl}
            demoUrl={demoUrl}
            technologies={technologies}
            slug={slug}
          />
        </section>
      )
    })
  }
</Section>
