---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import { Container, CtaButton, Section, SubtitleSection, CardProject, TitleSection } from "../components/ui";
import ContactModal from "../components/ui/ContactModal.astro";
let open = false
const togleOpenModal = () => open = true
const togleCloseModal = () => open = false

const projects = await getCollection('projects')
---

<Layout 
  title="Projects" 
  description="Portfolio de Armando Crescencio, desarrollador web fullstack."
>
  <Container>
    <Section className="mb-14">
      <TitleSection 
        title="Mis Proyectos" 
      />
      <p class="text-lg text-text-secondary max-w-2xl mx-auto mb-8 text-center">
        Una colección de proyectos que muestran mis habilidades en el desarrollo full-stack, desde el concepto hasta la implementación.
      </p>
      <div class="w-24 h-px bg-gray-700 mx-auto"></div>
    </Section>
    <Section className="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 items-center gap-4 justify-center">
      {
        projects.map(project => {
          const { data, slug } = project
          const { description, technologies, title, githubUrl, date, image, demoUrl } = data
          return (
            <CardProject 
              title={title}
              description={description}
              image={image}
              githubUrl={githubUrl}
              demoUrl={demoUrl}
              technologies={technologies}          
              slug={slug}  
            />
          )
        })
      }
    </Section>
    {/* CTA */}
    <Section className="mb-0">
      <SubtitleSection title="Trabajemos Juntos" />
      <p
        class="text-lg text-center prose text-text-secondary mb-8 max-w-2xl mx-auto"
      >
        Siempre me interesan nuevas oportunidades y proyectos emocionantes. No
        dudes en contactarme.
      </p>
      <article class="flex flex-row items-center justify-center gap-4">
        <button
          class="px-4 py-2 rounded bg-sky-600 text-white hover:bg-sky-700 transition"
        >
          Contactame
        </>
      </article>
    </Section>
  </Container>
</Layout>